header a {
    line-height: 45px;
}
header {
    width: 100%;
    height: 45px;
    padding: 0 20px;
    background-color: #000;
}
header * {
    font: 18px/45px "microsoft yahei";
    float: left;
}
header span {
    float: left;
    line-height: 45px;
}
.sep {
    margin: 0 10px;
}
.header-username {
    color: #fff;    
}
.header-logo{
    width: 45px;
    height: 100%;
    padding: 5px 10px 5px 0;
    background: url(/static/manage/widget/header/logo.png) no-repeat;
    background-size: contain;
    background-origin: content-box;
}
.header-link {
    font-family: cursive,arial;
    color: #fff;
}
.header-title {
    color: #fff;
}
/*.header-left-wrap {*/
/*width: 20%;*/
/*}*/
