.outer-wrap h2 {
  text-align: center;
  font-size: 2em;
  margin: 10px 0;
}
.layout-ul {
  width: 80%;
  margin: 0 auto;
  zoom: 1;
}
.layout-ul li {
  float: left;
  overflow: hidden;
  position: relative;
  height: 300px;
  padding-top: 1em;
  padding-left: 1em;
}
.layout-ul:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.banner {
  display: table;
  width: 100%;
}
.banner .main_title{
    font-size: 16px;
}
.banner li {
  float: none;
  width: 100%;
  height: 300px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.banner li .detail_surface_url {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner li .inner-wrap {
  display: inline-block;
  width: 50%;
  height: 50%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: relative;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}
.banner li .inner-wrap .avator-wrap {
  float: left;
  width: 30%;
  height: 100%;
  padding-right: 20px;
  border-right: 1px solid #fff;
}
.banner li .inner-wrap .avator-wrap * {
  margin-bottom: 10px;
}
.avator {
    float: none !important;
    width: 50px !important;
    height: 50px;
    border-radius: 100%;
    margin: 0 auto;
    display: block;
}
.banner li .inner-wrap .avator-wrap .username,
.banner li .inner-wrap .avator-wrap .live_place {
  float: right;
  width: 100%;
  text-align: right;
}
.banner li .inner-wrap .product-wrap {
  float: left;
  width: 70%;
}
.banner li .inner-wrap .product-wrap * {
  width: 100%;
  margin: 20px 0;
}
.arrow li {
  width: 25%;
}
.arrow li .index_img_url {
  position: absolute;
  height: 100%;
}
.arrow li .text-wrap {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  position: absolute;
  bottom: 0;
}
.arrow li span,
.arrow li em,
.arrow li p {
  color: #eee;
  margin: 0 0.5em 1em;
}
.arrow li .price-icon,
.arrow li .price_total {
  float: left;
}
.arrow li .username,
.arrow li .region {
  float: right;
}
.arrow ul {
  width: 25%;
  float: left;
  overflow: hidden;
  position: relative;
  height: 300px;
  padding-top: 1em;
  padding-left: 1em;
}
.arrow .arrow-category{
  background-color: #ccc;
  width: 100%;
  height: calc(50% - 10px);
  overflow: visible;
}
.arrow .arrow-category-wrap{
    overflow: visible;
}
.arrow .arrow-category-left{
    padding-left: 0;
    padding-right: 1em;
}
.arrow .arrow-category-left:before{
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #ccc;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: -10px;
    z-index: 9999;
}
.arrow .arrow-category-right:before{
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #ccc;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: -10px;
    z-index: 9999;
}
.arrow-category:first-child{
  margin-bottom: 20px;
}
.arrow .arrow-product:focus{
    outline: 1px solid #bb2413 !important;
}
.hot li {
  width: 33.33%;
  /* border: 1px solid blue; */
}
.hot li .surface_url {
  position: absolute;
  width: 100%;
  height: 100%;
}
.hot li .region_name {
  color: white;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
}
.story {
  margin-bottom: 30px;
}
.story li {
  overflow: visible;
  width: 33.33%;
  /* border: 1px solid yellow; */
}
.story li .video_url {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.story img {
  width: 100%;
  height: 100%;
}
.story .main_title {
  position: absolute;
  width: 100%;
  bottom: 10%;
  left: 0;
  color: white;
  text-align: center;
  bottom: 10%;
  left: 0;
}
.story .username {
  position: absolute;
  width: 100%;
  bottom: 10%;
  left: 0;
  color: white;
  text-align: center;
  top: 100%;
  left: 0;
  color: #333;
}
